{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'display_cal/style.css' %}" />

<table class="middle">
    <tr>
        <th>Time</th>
        {% for day in days_of_week %}
            <th>{{day}}</th>
        {% endfor %}
    </tr>
    {% for period in schedule %}
        <tr>
            <td class="label">{{period.0.0}}</td>
            {% for day in period %}
                {% if not day.1 %}
                    <td class="break"></td>
                {% else %}
                    <td class="class"><span class="tooltip">class</span></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>