{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'display_cal/style.css' %}" />

<button id="myButton" class="float-left submit-bottom" >Compare with another schedule </button>


<table class="middle">
    <tr>
        <th>Time</th>
        {% for day in days_of_week %}
            <th>{{day}}</th>
        {% endfor %}
    </tr>
    {% for period in schedule %}
        <tr>
            <td class="label">{{period.0.0}}</td>
            {% for day in period %}
                {% if day.1 %}
                    <td class="class">{{day.1.codeNumber}}
                        <div class="tooltip">
                            {% if day.2 %}
                                Friends: 
                                {% for friend in day.2 %}
                                    {{friend}} 
                                {% endfor %}
                            {% else %}
                                No friends here!
                            {% endif %}
                        </div>
                    </td>
                {% else %}
                    <td class="break"></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>

